---
layout: default
---

<article class="post">

  {{ content }}

  <footer class="meta">

    Written: <time>{{ page.date | date: "%a %d %b %Y %X %Z" }}</time> <br>

    {% if page.pubdate %}
     Published: <time>{{ page.pubdate | date: "%a %d %b %Y %X %Z" }}</time>
     {% else %}
     Published: <time>{{ page.date | date: "%a %d %b %Y %X %Z" }}</time>
    {% endif %}
  </footer>

</article>

<hr>

      <ul class="post-nav">
        {% if page.previous %}
          <li>Prev: <a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
        {% endif %}

        {% if page.next %}
          <li>Next: <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a></li>
        {% endif %}
	    </ul>

{% unless page.comments == false %}
  {% if site.comments %}
    {% include comments.html %}
  {% endif %}
{% endunless %}
